body {
  padding-top: 50px;
}

h1 {
  text-align: center;
  text-decoration: inherit;
}

.Style{
  padding: 20px 15px;
  text-align:center;
  text-decoration: underline;
  text-decoration-color: green;
}
