.itemPreview {
    height: 200px;
    width: 200px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}

#itemButton {
    color: green;
    margin-left: 25px;
    margin-top: 10px;
    width: 150px;
}

#item{
    padding-left:50px;
    padding-top: 50px;
}
